<!--多说已挂，不需要了-->
<!--{% if site.duoshuo_shortname %}
&lt;!&ndash; 多说评论框 start &ndash;&gt;
<div class="ds-thread" data-thread-key="{{ site.url }}{{ page.url }}" data-title="{{page.title}}" data-url="{{ site.url }}{{ page.url }}"></div>
&lt;!&ndash; 多说评论框 end &ndash;&gt;
&lt;!&ndash; 多说公共JS代码 start (一个网页只需插入一次) &ndash;&gt;
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "{{site.duoshuo_shortname}}"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
&lt;!&ndash; 多说公共JS代码 end &ndash;&gt;
{% endif %}-->

<!--disqus被墙-->
<!--{% if site.disqus_shortname %}
<div id="disqus_thread"></div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function() {
        this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ site.url }}{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');

        s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}-->

<!--直接采用gitalk,在此配置-->
<!-- Link Gitalk 的支持文件，在head.html中引入了 -->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>-->
<!--md5加密名称标签，保证唯一  ，在head.html中引入了-->
<!--<script src="{{ site.baseurl }}/js/md5.min.js"></script>-->

<!--切记，初始化时，以管理员（自己）身份打开一篇博客，评论框内单击下-->
<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        // gitalk的主要参数
        clientID: `d9f0208cede257f8bbd4`,
        clientSecret: `7ed9622b8256f2770b7d0aae836fd77cc8bec15d`,
        repo: `xiyixiaodao.github.io`,
        owner: 'xiyixiaodao',
        admin: ['xiyixiaodao'],
        //id不能是字符串，不要重复，否则一条评论将出现在每一篇文章
        //默认为location.href会取到文章摘要，导致长度超限，出现errorError: Validation Failed.
        //location.pathname相对合理，但是当文章标题（少数情况）过长时还是超限
        //解决：md5加密成32位（一串无意义数字，保证唯一），或者直接截取为小于50的字符串（依旧不能保证唯一）
        id: md5(location.href),
        //评论框是否高光显示,true为显示，默认false
        //distractionFreeMode:true,

    });
    gitalk.render('gitalk-container');
</script>